<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <div class="max-w-sm rounded overflow-hidden shadow-lg cursor-pointer">
      <img class="h-1/3" src="https://images.unsplash.com/photo-1505740420928-5e560c06d30e?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cHJvZHVjdHxlbnwwfHwwfHx8MA%3D%3D" alt="Headphones">
      <div class="px-6 flex flex-col gap-2 py-2">
        <div class="font-bold text-xl">Auction Name</div>
        <p class="text-gray-700 text-base">
          <b>Description:</b>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
        </p>
        <div class="font-bold text-xl">Price</div>
        <span class="w-fit inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">No. of bids</span>
        <span class="w-fit inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">End time</span>
        <div class="flex gap-5">
          <button class="w-fit bg-yellow-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-full">
            Bid
          </button>
          <button class="w-fit bg-red-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-full">
            Buy
          </button>
        </div> 
        
      </div>
      <div class="flex justify-end">
        <a href="/product_details" class="font-medium hover:underline px-5 py-2 bg-blue-400 text-white rounded-xl m-5 duration-300">Details</a>
      </div>
    </div>
</body>
</html>