<div
  id="count-down"
  class="w-full bg-transparent text-black fixed top-24 right-[320px] max-w-80 -z-10"
>
  <div class="flex justify-around text-center items-center">
    <%- include('../partials/svgs/endtime.ejs') %>
    <div>
      <h2 id="day" class="text-xl font-semibold">00</h2>
      <p>Days</p>
    </div>

    <div>
      <h2 id="hour" class="text-xl font-semibold">00</h2>
      <p>Hours</p>
    </div>

    <div>
      <h2 id="minute" class="text-xl font-semibold">00</h2>
      <p>Minutes</p>
    </div>

    <div>
      <h2 id="second" class="text-xl font-semibold">00</h2>
      <p>Seconds</p>
    </div>
  </div>
</div>
